<page-header [title]="'用户管理'"></page-header>
<nz-tabset nzType="editable-card" nzHideAdd [(nzSelectedIndex)]="selectedTabIndex" (nzClose)="closeTab($event)">
  <nz-tab nzTitle="用户列表">
    <nz-card [nzBordered]="false">
      <form nz-form [nzLayout]="'inline'" (ngSubmit)="search()" class="search__form">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="4">
            <nz-form-item>
              <nz-form-label nzFor="userId">用户id</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="searchUserId" name="roleId" placeholder="请输入用户id" id="userId" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzMd="4">
            <nz-form-item>
              <nz-form-label nzFor="userName">用户名</nz-form-label>
              <nz-form-control>
                <input nz-input name="userName" [(ngModel)]="searchUserName" placeholder="请输入用户名" id="userName" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzMd="4">
            <nz-form-item>
              <nz-form-label nzFor="roleId">角色id</nz-form-label>
              <nz-form-control>
                <input nz-input name="roleId" [(ngModel)]="searchRoleId" placeholder="请输入角色id" id="roleId" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzMd="6">
            <nz-form-item>
              <nz-form-label nzFor="qxId">所属区</nz-form-label>
              <nz-form-control>
                <nz-select name="qxId" nzMode="multiple" nzPlaceHolder="所属区" [(ngModel)]="searchQxIds">
                  <nz-option *ngFor="let qx of qxs" [nzLabel]="qx.value" [nzValue]="qx.key"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [class.text-right]="false" nzMd="6">
            <button nz-button type="submit" [nzType]="'primary'">查询</button>
            <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
          </div>
        </div>
      </form>
      <button nz-button (click)="add(undefined)" [nzType]="'primary'">
        <i nz-icon nzType="plus"></i>
        <span>新建</span>
      </button>
      <button nz-button (click)="remove()" [nzType]="'primary'" [disabled]="selectedUserIds.length === 0">
        <i nz-icon nzType="minus"></i>
        <span>删除</span>
      </button>
      <st
        #st
        [widthMode]="{ type: 'strict' }"
        [columns]="columns"
        [data]="url"
        [res]="{ process: dataProcess }"
        (change)="stChange($event)"
      >
      </st>
    </nz-card>
  </nz-tab>
  <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.title" nzClosable>
    <app-user-detail [userId]="tab.userId" (dataChanged)="userDataChanged()"></app-user-detail>
  </nz-tab>
</nz-tabset>
