<div class="modal-header">
  <div class="modal-title">修改密码</div>
</div>
<from nz-form [formGroup]="changePasswordForm" se-container="1">
  <se label="密码" [error]="{ required: '密码不能为空' }">
    <input formControlName="password" nz-input type="password" required />
  </se>
  <se label="重复密码" [error]="{ passwordConfirm: '重复密码不正确' }">
    <input formControlName="rePassword" nz-input type="password" />
  </se>
</from>
<div class="modal-footer">
  <button nz-button [nzType]="'default'" (click)="cancel()">取消</button>
  <button nz-button [nzType]="'primary'" (click)="ok()" [disabled]="!this.changePasswordForm.valid">确定</button>
</div>
