<form nz-form [formGroup]="bagForm" se-container="1">
    <se-title>基本信息</se-title>
    <se label="附件包名称" [error]="{ required: '不能为空' }">
      <input nz-input formControlName="name" required id="name" />
    </se>
    <se label="备注">
        <input nz-input formControlName="memo" id="memo" />
    </se>
    <se label="创建时间" *ngIf="bagInfo">
      <label>{{ bagInfo?.createdAt }}</label>
    </se>
    <se-title>附件信息</se-title>
    <se>
      <nz-upload [nzDisabled]="!canUpload"
        [nzAction]="fileUploadServiceURL" 
        [nzFileList]="attachments" 
        nzListType="picture-card" 
        [nzRemove]="removeFile" 
        [nzPreview]="handlePreview"
        (nzChange)="handleChange($event)">
        <div>
          <i nz-icon nzType="plus"></i>
          <div style="margin-top: 8px">上传</div>
        </div>
        <!-- <button nz-button><i nz-icon nzType="upload"></i>上传附件</button> -->
      </nz-upload>
    </se>
  </form>

  <nz-modal
        [nzVisible]="previewVisible"
        [nzContent]="modalContent"
        [nzFooter]="null"
        (nzOnCancel)="previewVisible = false"
      >
        <ng-template #modalContent>
          <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
        </ng-template>
      </nz-modal>
  