<form nz-form [formGroup]="resourceForm" se-container="2">
    <se-title>基本信息</se-title>
    <se label="编号" col="1"> {{ weixingResource?.bh }} </se>
    <se label="申请单位" [error]="{ required: '不能为空' }">
      <input type="text" nz-input formControlName="sqdw" required />
    </se>
    <se label="申请类型" [error]="{ required: '不能为空' }">
      <nz-radio-group formControlName="sqlx">
        <label nz-radio nzValue="新办">新办</label>
        <label nz-radio nzValue="变更">变更</label>
        <label nz-radio nzValue="延续">延续</label>
      </nz-radio-group>
    </se>
    <se label="安装地址" [error]="{ required: '不能为空' }">
      <input type="text" nz-input formControlName="azdz" required />
    </se>
    <se label="所属区" [error]="{ required: '不能为空' }">
      <nz-select nzShowSearch nzAllowClear formControlName="qxId" required>
        <nz-option *ngFor="let qx of qxs" [nzLabel]="qx.value" [nzValue]="qx.key"> </nz-option>
      </nz-select>
    </se>
    <se label="办公电话" [error]="{ required: '不能为空', pattern: '只能输入数字' }">
      <input type="text" nz-input formControlName="bgdh" required />
    </se>
    <se label="邮政编码" [error]="{ required: '不能为空' }">
      <input type="text" nz-input formControlName="yzbm" required />
    </se>
    <se label="负责人" [error]="{ required: '不能为空' }">
      <input type="text" nz-input formControlName="fzr" required />
    </se>
    <se label="手机" [error]="{ required: '不能为空', pattern: '格式不正确' }">
      <input type="text" nz-input formControlName="fzrsj" required />
    </se>
    <se label="机房位置" [error]="{ required: '不能为空' }">
      <input type="text" nz-input formControlName="jfwz" required />
    </se>
    <se label="天线位置" [error]="{ required: '不能为空' }">
      <input type="text" nz-input formControlName="txwz" required />
    </se>
    <se label="天线数量" [error]="{ required: '不能为空' }">
      <nz-input-number nz-input formControlName="txsl" required id="txsl"></nz-input-number>
    </se>
    <se label="天线类型" [error]="{ required: '不能为空' }">
      <nz-radio-group formControlName="txlx">
        <label nz-radio nzValue="正馈">正馈</label>
        <label nz-radio nzValue="偏馈">偏馈</label>
      </nz-radio-group>
    </se>
    <se label="境内收视节目源"  [error]="{ required: '不能为空' }">
      <nz-radio-group formControlName="jnssjmy">
        <label nz-radio *ngFor="let item of jnssjmys" [nzValue]="item.value">{{ item.label }}</label>
      </nz-radio-group>
      <input formControlName="jnssjmy_other" *ngIf="resourceForm.controls.jnssjmy.value === '其他'" />
    </se>
    <se label="卫星名称" [error]="{ required: '不能为空' }">
      <nz-radio-group formControlName="wxmc">
        <label nz-radio nzValue="亚太六号">亚太六号</label>
        <label nz-radio nzValue="中星6B">中星6B</label>
      </nz-radio-group>
    </se>
    <se label="卫星传输方式" [error]="{ required: '不能为空' }">
      <nz-radio-group formControlName="wxcsfs">
        <label nz-radio nzValue="同网传输">同网传输</label>
        <label nz-radio nzValue="分网传输">分网传输</label>
      </nz-radio-group>
    </se>
    <se label="信号调制方式" [error]="{ required: '不能为空' }">
      <nz-radio-group formControlName="xhtzfs">
        <label nz-radio nzValue="数字">数字</label>
        <label nz-radio nzValue="模拟">模拟</label>
      </nz-radio-group>
    </se>
    <se label="收视内容" col="1" [error]="{ required: '不能为空' }">
      <nz-checkbox-group formControlName="ssnr" required [(ngModel)]="ssnrCheckGroupOptions" (ngModelChange)="ssnrChanged()">    </nz-checkbox-group>
    </se>
    <se label="设计安装单位名称" labelWidth="150" [error]="{ required: '不能为空' }">
      <input nz-input formControlName="sjazdwmc" required />
    </se>
    <se label="卫星设施安装许可证号" labelWidth="170" [error]="{ required: '不能为空' }">
      <input nz-input formControlName="wxssazxkz" required />
    </se>

    <nz-divider nzOrientation="center" nzText="收视节目类型"></nz-divider>
    <se label="类型">
      <nz-radio-group formControlName="ssdwlx">
        <label nz-radio nzValue="酒店">酒店</label>
        <label nz-radio nzValue="机构">机构</label>
        <label nz-radio nzValue="公寓">公寓</label>
        <label nz-radio nzValue="境内">境内</label>
      </nz-radio-group>
    </se>
    <se label="楼盘名"><input nz-input formControlName="lpm" required id="lpm" /></se>
    <se label="楼层"><input nz-input formControlName="lc" required id="lc" /></se>
    <se label="终端数"><nz-input-number nz-input formControlName="zds" required id="zds"></nz-input-number></se>

    <!-- <nz-divider nzOrientation="center" nzText="附件列表"></nz-divider>
    <se>
      <nz-upload [nzAction]="fileUploadServiceURL" [nzFileList]="attachments" [nzRemove]="removeFile" (nzChange)="handleChange($event)">
        <button nz-button><i nz-icon nzType="upload"></i>上传附件</button>
      </nz-upload>
    </se>
    <nz-divider></nz-divider>
    <se label="核查单位">上海市社会文化管理处</se>
    <se label="核查日期"><nz-date-picker formControlName="hcrq"></nz-date-picker></se>
    <se label="签名人">
      <div>{{ weixingResource?.sign?.name }}</div>
    </se>
    <se label="签署日期">
      <div>{{ weixingResource?.sign?.createdAt }}</div>
    </se>
    <se col="1">
      <img nz-image *ngIf="signBase64 !== ''" [nzSrc]="signBase64" width="200px" height="80px" nzDisablePreview="true" />
    </se> -->
    <nz-divider></nz-divider>
    <se col="1"
      ><button nz-button type="submit" nzType="primary" acl [acl-ability]="'WRITE'" [disabled]="resourceForm.invalid" (click)="save()">
        确定
      </button>
      <!-- <button nz-button type="button" nzType="primary" acl [acl-ability]="'FINISH'" (click)="finish()">办结</button> -->
    </se>
  <se-title>场地审核信息</se-title>
  <se col="1">
    <button nz-button type="button"  (click)="showAudit()" [disabled]="!resourceId">新增审核信息</button>
    <button nz-button type="button"  (click)="removeAudits()" [disabled]="selectedAuditIds.length === 0">删除审核信息</button>
  </se>
  <se col="1">
    <st  [columns]="auditColumns" [data]="fieldAudits" (dataChanged)="getAudits()" (change)="stChange($event)"></st>
  </se>
  
</form>