<form nz-form [formGroup]="roomDetailForm">
  <nz-row>
    <nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzFor="roomName">房间名</nz-form-label>
        <nz-form-control nzErrorTip="请填写房间名">
          <input nz-input formControlName="roomName" id="roomName" required />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
  <nz-row>
    <nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzFor="roomDescription">房间描述</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="roomDescription" id="roomDescription" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
  <nz-row>
    <nz-col>
      <nz-upload [nzAction]="fileUploadServiceURL" [nzFileList]="attachments" [nzRemove]="removeFile" (nzChange)="handleChange($event)">
        <button nz-button><i nz-icon nzType="upload"></i>上传附件</button>
      </nz-upload>
    </nz-col>
  </nz-row>
</form>
