<form nz-form [formGroup]="formGroup">
    <nz-row>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzFor="content">审核意见</nz-form-label>
          <nz-form-control nzErrorTip="请填写意见">
            <textarea nz-input formControlName="content" id="content" name="content" required ></textarea>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzFor="auditDate">审核日期</nz-form-label>
          <nz-form-control>
            <nz-date-picker formControlName="auditDate" name="auditDate" id="auditDate" required></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzFor="auditDepartment">审核单位</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="auditDepartment" name="auditDepartment" id="auditDepartment" required />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>场地负责人签名</nz-form-label>
          <nz-form-control>
            <img nz-image *ngIf="signImageUrl" [nzSrc]="signImageUrl" width="200px" height="80px" nzDisablePreview="true" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row>
      <nz-col nzSpan="24">
        <button nz-button (click)="showAttachmentBag()" [disabled]="this.auditId===0">新增附件包</button>
        <button nz-button (click)="removeAttachmentBag()" [disabled]="this.selectedAttachmentBagIds.length === 0">删除附件包</button>
        <nz-form-control><st [columns]="attachmentBagsColumn" [data]="attachmentBags" [ps]="5" [res]="{process: resProcess}" (change)="stChange($event)"></st></nz-form-control>
      </nz-col>
    </nz-row>
  </form>